.query input[type="text"]{
    height: 40px;
}

input[type="checkbox"]{
    display: inline-block;
}

section{
    padding-top: 30px;
    width: 95%;
    margin: auto;
    display: flex;
}

select{
    padding: 8px;
    width: 20vw;
    font-size: 15px;
}

.count{
    margin: 0 30px;
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-cont{
    width: 20%;
    height: 400px;
}

.filter-cont  p{
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    padding-left: 20px;
    margin-bottom: 10px;
}

.display-cont{
    border: 1px solid blueviolet;
    width: 80%;
    height: 400px;
}

label{
    font-weight: 500;
    font-size: 14px;
    padding-left: 8px;
}

.gender label{
    font-weight: 600;
}

.gender, .categories{
    border: 1px solid #ccc;
}

.gender{
    margin-bottom: 20px;
}

.categories{
    border-top: 0;
}

.gender > div, .categories > div{
    margin: 5px 0;
    padding-left: 20px;
}


