body img{
    -webkit-user-drag: none;
}

.query input{
    height: 40px;
}

.img100 img{
    width: 100%;
}

.top-img{
    display: flex;
    justify-content: center;
}

.top-img img{
    margin-top: 120px;
    width: 92vw;
}

.grid{
    display: grid;
}

.unb-deals{
    grid-template-columns: repeat(6,1fr);
}

.budget-buys{
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,auto);
}

.loved-brands{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,auto);
}

.top-brands{
    grid-template-columns: repeat(4,1fr);
}

.categories{
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
}
