/* body img{
    -webkit-user-drag: none;
} */

.query input{
    height: 40px;
}

.img100 img{
    width: 100%;
}

.top-img{
    display: flex;
    justify-content: center;
}

.top-img img{
    margin-top: 120px;
    width: 92vw;
}

.grid{
    display: grid;
}

.midnight-offer, .unb-deals{
    grid-template-columns: repeat(7,1fr);
}

.best-buys, .most-loved, .categories{
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2,auto);
}

.top-brands{
    grid-template-columns: repeat(8,1fr);
}
